# API
SUPABASE_URL=tu_supabase_url
SUPABASE_ANON_KEY=tu_supabase_anon_key

# Inteligencia Artificial
OPENAI_API_KEY=tu_api_key_opcional_aqui
DEEPSEEK_API_KEY=tu_api_key_opcional_aqui

# Base de datos Vectorial
CHROMA_DB_PATH=./chroma_data
